[Unit]
Description=Efficient in-memory cache for RRD databases

After=syslog.service
After=rsyslog.service
After=network.target


[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment=OPTIONS=
EnvironmentFile=-/etc/sysconfig/vigilo-rrdcached
User=vigilo-metro
Restart=on-failure
ExecStart=/usr/bin/rrdcached -g -m 666 -l /var/lib/vigilo/connector-metro/rrdcached.sock -p /var/run/vigilo-rrdcached/vigilo-rrdcached.pid
