[Unit]
Description=Vigilo connector that stores metrology data in RRD databases

After=syslog.service
After=rsyslog.service
After=network.target

After=rabbitmq-server.service


[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/vigilo-connector-metro
User=vigilo-metro
Restart=on-failure
ExecStart=/usr/bin/vigilo-connector-metro -d /var/lib/vigilo/rrd --pidfile '' -n vigilo-metro
